<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-wininsoft-cached-url-protocol" version="3.0.3">

  <name>Cached Url Protocol</name>
  <description></description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CachedURLProtocol">
        <param name="ios-package" value="CDVCachedUrlProtocol" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/CachedURLProtocol.m" />
    <header-file src="src/ios/CachedURLProtocol.h" />
    <source-file src="src/ios/CDVCachedURLProtocol.m" />
    <header-file src="src/ios/CDVCachedURLProtocol.h" />
  </platform>
  
</plugin>
